* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column-reverse;
}

.footer-container {
  background-image: url(img-footer/contact-us-bg-new.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
}

.footer-container::before {
  content: "";
  background-color: rgba(179, 22, 36, 0.995);
  width: 50%;
  height: 70%;
  position: absolute;
  left: -20px;
  bottom: -240px;
  z-index: 1;
  transform: rotate(4.5deg);
}

.footer-container::after {
  content: "";
  background-color: #162037;
  width: 110%;
  height: 50%;
  position: absolute;
  bottom: -150px;
  z-index: 1;
  transform: rotate(-4deg);
}

.avatars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-contact-us {
  color: #fff;
  font-size: 12px;
  background-color: #162037;
  height: 300px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  z-index: 20;
  margin-top: 60px;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0.5rem;
}

.texts {
  display: flex;
  align-items: space-evenly;
  gap: 5vw;
  margin-top: 4rem;
}

.text3 p {
  margin-bottom: 0.5rem;
}

.follow-icon {
  display: flex;
}

.follow-icon i {
  color: #fff;
  font-size: 22px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 2px;
}

.follow-icon i:first-child {
  margin-right: 0.5rem;
}

.line-divider {
  padding: 0 43em;
  background-color: #162037;
}

hr {
  opacity: 0.1;
}

.copy-right {
  font-size: 10px;
  background-color: #162037;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
}


.volunteer a:hover {
  width: 110%;
  height: 110%;
}
